<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
                {{>header}}
            <p>This app was created by Amandeep Kaur. It uses data from mapbox.com and darksky.net</p>
            <img src="/img/abc.png">
        </div>
        {{>footer}}
    </body>
</html>